/*Sytle*/
body {
  background: #14171e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eff3ff;
}

p,
span,
li {
  color: #c2c6d1;
}

a,
.nav-link {
  color: #eff3ff;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
a:hover,
a:active,
a:focus,
.navbar-nav .nav-link.active {
  color: #7fecff !important;
}

.nav-link {
  font-weight: 500;
}

.anime-list--form:focus,
.anime-list--form:active,
.anime-list--form:focus {
  background: #eff2fb2e;
  color: #c2c6d1;
}

.anime-list--form {
  width: 250px;
  background: #eff2fb2e;
  border: none;
  outline: 0 !important;
  color: #eff3ff;
}

.anime-list--form:focus {
  box-shadow: none;
}

